.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
<<<<<<< HEAD
  color: inherit;
=======
  color: white;
>>>>>>> e8fc914278428454f4fa4f978d69487c25cd1c8f
}
